h1 {
    color: brown;
    font-size: 2.5rem;
    background-image: url("../images/css.jpeg");
    background-position: center center;
    /* background-size: 250px 100px; */
    /* background-size: 25%; */
}

p {
    font-size: 1.5rem;
}

body
 {
    background: green url("../images/html5.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    /* background-position: left bottom; */
    /* background-position: right top; */
}
