body {
    background-color:rgb(30, 25, 25);
    color: white;
}

#tuto {
    color: green;
}

.ul1 {
    list-style-type: none;
}

.ul2 {
    list-style-type: circle;
}

.ul3 {
    list-style-type: disc;
}

.ol1 {
    list-style-type: upper-latin;
}

.line-height-50 {
    line-height: 50%;
}

.line-height-100 {
    line-height: 100%;
}

.line-height-150 {
    line-height: 150%;
}

.text-center {
    text-align: center;
}

.text-end {
    text-align: end;
}

.margin-100 {
    margin: 100px;
}

.margin-100:hover {
    transition: 1s;
    font-size: 200%;
    color: red;
}

.margin-100:not(:hover) {
    transition: 1s;
    font-size: 100%;
}

.p-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.m-1 {
    margin: 1.25%;
}

.botao {
    background-color: blueviolet;
    border-color: chartreuse;
    border-radius: 10%;
    color: red;
}

.labeltxt {
    cursor: pointer;
}

/*******************    SCROLL    *******************/

/* width */
::-webkit-scrollbar {
    width: 8.5px;
    height: 8.5px;
}
  
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px grey;
    border-radius: 0px;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(170, 14, 14);
    border-radius: 4px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 11, 11);
}  

/*******************   FLEXBOX   *******************/

.dflex {
    display: flex;
    margin: 5px;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: start;
}

.flex-wrap {
    flex-wrap: wrap;
}