<div class="dflex flex-column align-items-center">
    <h1>All Albums</h1>
    
    <div class="dflex flex-row">
        <div class="album-card dflex flex-row align-items-center justify-content-start">
            <img src="../../assets/img/Capa_Homework.jpg" alt="Capa Album" height="103%" class="album-image">
            <div class="text-content">
                <h2 class="content-header">Homework</h2>
                <div class="content-text">genero</div>
                <span class="content-text">Daft Punk, 1997</span>
            </div>
        </div>
    
        <div class="album-card dflex flex-row align-items-center justify-content-start">
            <img src="../../assets/img/Plastic Beach.jpg" alt="Capa Album" height="103%" class="album-image">
            <div class="text-content">
                <h2 class="content-header">Plastic Beach</h2>
                <div class="content-text">genero</div>
                <span class="content-text">Gorillaz, 2010</span>
            </div>
        </div>
    </div>

    <br><br>

</div>

