@import url(./fonts.css);

/* Cores: 
Branco:
    1º - #FFFFFF
    2º - #EBEBEB

Preto:
    1º - #0E0D13
    2º - #1D1B26

*/
html, body {
    font-family: Rubik;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    background-color: #1D1B26;
    color: #EBEBEB;
    border-color: #EBEBEB;
    overflow: auto;
}

/* FLEXBOX CSS */

.dflex { display: flex; }

.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }

.align-items-center { align-items: center; }
.align-items-start { align-items: flex-start; }
.align-items-end { align-items: flex-end; }

.justify-content-center { justify-content: center; }
.justify-content-start { justify-content: start; }
.justify-content-around { justify-content: space-around; }
.justify-content-between { justify-content: space-between; }

.justify-self-start { justify-self: start; }
.justify-self-end { justify-self: end; }

.flex-wrap { flex-wrap: wrap; }

/* GRID CSS */

* {
    box-sizing: border-box;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="col-"] {
    float: left;
    padding: 10px;
    border: 1px solid red;
}