ul {
    margin: 0px auto 0px 1%;
    padding: 0px;
    font-family: 'Encode Sans Expanded';
    font-weight: bold;
    font-size: .95rem;
    white-space: nowrap;
}

li {
    display: inline-block;
    margin: 0px 2.5%;
}

li a:not(:hover) {
    transition: .2s;
    text-decoration: none;
    color: #EBEBEB;
    text-shadow: 0px 0px 10px rgba(255, 255 , 255, 0);
}

li a:hover {
    text-decoration: none;
    transition: .2s;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(255, 255 , 255, 0.3);
}

#navbar {
    margin: 0px;
    border-bottom: 1px solid;
    background-color: #0E0D13;
    overflow: auto;
}

#pesquisa {
    margin: 0px auto;
}

#pesquisa:focus-within #icon-pesquisa, #pesquisa:focus-within #input-pesquisa {
    transition: .2s;
    box-shadow: 0px 0px 10px rgba(255, 255 , 255, 0.3);
}

#input-pesquisa {
    font-family: Rubik;
    font-size: 1rem;
    padding: 0px 7.5px;
    height: 32px;
    border: 1px solid #EBEBEB;
    color: white;
    border-radius: 7.5px 0px 0px 7.5px;
    background-color: #1D1B26;
    outline: 0;
}

#icon-pesquisa:not(:hover) {
    transition: .2s;
    position: relative;
    color: #0E0D13;
    font-size: 2rem;
    border-radius: 0px 7.5px 7.5px 0px;
    right: 0%;
    background-color: #EBEBEB;
}

#icon-pesquisa:hover {
    transition: .2s;
    background-color: #FFFFFF;
    border-radius: 0px 7.5px 7.5px 0px;
    color: #0E0D13;
    font-size: 2rem;
    cursor: pointer;
}

#auth {
    font-family: 'Encode Sans Expanded';
    font-weight: bold;
    font-size: .95rem;
    width: 150px;
}

.logo {
    width: 128px;
    height: 64px;
}

#sign-up-txt:not(:hover) {
    transition: .2s;
    white-space: nowrap;
    color: #EBEBEB;
    text-shadow: 0px 0px 10px rgba(255, 255 , 255, 0);
}

#sign-up-txt:hover {
    transition: .2s;
    white-space: nowrap;
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(255, 255 , 255, 0.3);
    cursor: pointer;
}

#login-bt:not(:hover) {
    transition: .2s;
    display: inline;
    background-color: #EBEBEB;
    border-radius: 15px;
}

#login-bt:hover {
    transition: .2s;
    transform: scale(1.05);
    background-color: #FFFFFF;
    border-radius: 15px;
    cursor: pointer;
}

#login-txt {
    padding: 8px;
    margin: 0;
    color: #0E0D13;
}