<div id="navbar" class="row">
  <div class="col-1"></div>

  <div class="col-10 dflex align-items-center">
    <a href="" class="logo">
      <img src="../../assets/img/trepudox-music-logo.png" alt="Logo" class="justify-self-start logo">
    </a>

    <ul>
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/artists">Artists</a></li>
      <li><a routerLink="/albums">Albums</a></li>
      <li><a routerLink="/musics">Musics</a></li>
      <li><a routerLink="/genres">Genres</a></li>
    </ul>

    <div id="pesquisa" class="dflex align-items-center">
      <input type="text" name="input-pesquisa" id="input-pesquisa" size="35">
      <span class="material-icons" id="icon-pesquisa">search</span>
    </div>
  
    <div id="auth" class="dflex flex-row align-items-center justify-content-between">
      <span id="sign-up-txt">Sign Up</span>
      <div id="login-bt">
        <p id="login-txt">Login</p>
      </div>
    </div>
  </div>

  <div class="col-1"></div>
</div>
