<div class="navbar dflex flex-row align-items-center">
  <img src="../../assets/img/trepudox-music-logo.png" alt="Logo" class="justify-self-start logo">
  <ul>
    <li><a href="">Home</a></li>
    <li><a href="">Artists</a></li>
    <li><a href="">Albums</a></li>
    <li><a href="">Musics</a></li>
    <li><a href="">Genres</a></li>
  </ul>
  <div id="pesquisa" class="dflex flex-row">
    <input type="text" name="input-pesquisa" id="input-pesquisa">
    <span class="material-icons" id="icon-pesquisa">search</span>
  </div>
  <div id="auth" class="dflex flex-row align-items-center justify-content-between">
    <span class="text-auth">Sign Up</span>
    <div class="login">
      <p class="text-auth" style="padding: 8px; margin: 0; color: #0E0D13;">Login</p>
    </div>
  </div>
</div>
