ul {
    margin: 0px;
    margin-left: auto;
    margin-right: 10%;
    padding: 0px;
    font-family: 'Encode Sans Expanded';
    font-weight: bold;
    font-size: 1rem;
}

li {
    display: inline;
    margin: 0px 4%;
    /* abaixo de 500px fazer menu */
}

#pesquisa {
    margin: 0px 3%;
}

#input-pesquisa {
    height: 20px;
    border: 1px solid black;
    border-radius: 7.5px;
}

#icon-pesquisa {
    position: relative;
}

.navbar {
    margin: 0px;
    border: 1px solid red;
}

.logo {
    margin-left: 5%;
    width: 64px;
    height: 64px;
}
