<div class="navbar dflex flex-row align-items-center justify-content-between">
    <img src="../../assets/img/Logo-IAC-icon-1-transparent-full-color.png" alt="Logo" class="justify-self-start logo">
    <ul class="justify-self-end">
        <li><a href="">Home</a></li>
        <li><a href="">Artists</a></li>
        <li><a href="">Albums</a></li>
        <li><a href="">Musics</a></li>
        <li><a href="">Genres</a></li>
    </ul>
    <div id="pesquisa" class="dflex flex-row">
        <input type="text" name="input-pesquisa" id="input-pesquisa">
        <span class="material-icons" id="icon-pesquisa">search</span>
    </div>
</div>