a {
    text-decoration: none;
}

li {
    display: inline;
    padding-right: 5%;
    padding-left: 5%;
}

.container {
	width: 90%;
	margin: 0 auto;
    background: chartreuse;
}

.top-container {
	background-color: chartreuse; 
    border-color: black; 
    border: 0px;
    border-bottom: 1px;
    border-style: dotted;
}

.logo {
    float: left;
    min-height: 64px;
    min-width: 64px;
    height: 5%;
    width: 5%;
}

.list {
    padding: 0;
    padding-right: 5%;
}