<h1>Property Binding</h1>

<!-- event binding, apenas para exemplificar melhor -->
<button (click)="trocaCorTexto()">Trocar cor do texto</button>
<!-- event binding, apenas para exemplificar melhor -->
<button (click)="trocaCorBackground()">Trocar cor do background texto</button>

<br>

<span [style]="tsStyle">texto</span>

<br><br>

<!-- event binding, apenas para exemplificar melhor -->
<button (click)="disableDireita()">Desabilitar/habilitar botão da direita</button>
<button [disabled]="disabled">Botão da direita</button>
<hr>